# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\andre\OneDrive - Universitat de les Illes Balears\2019\3rEngInfo\AlumneColabo\Nnao\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
